<div data-controller="dropdown">
    <h1>Home#index</h1>
    <button data-action="click->dropdown#openDropdown">
        open dropdown
    </button>
    <button data-action="click->dropdown#closeDropdown">
        close dropdown
    </button>
    <div data-dropdown-target="dropdownContent">
        <p>Find me in app/views/home/index.html.erb</p>
    </div>
</div>
